
.create-post-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .form-container{
  width: 100%;
   max-width: 600px;
        .post-image-label{
    background-color: #eaeaea;
    color: rgb(25, 25, 25);
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
    }
}